# Virtual environment
.idea
.idea/
venv/
.env/
env/

# Environment variables
.env

# Python cache
__pycache__/
*.pyc

# SQLite
db.sqlite3

# Static files collected
staticfiles/

# Media files (اگر داری)
media/
